.card-img-top {
    height: 150px;
    width: 100%;
}

.card-text {
    width: 250px;
    margin: 0 0 1em 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.row {
    padding-left: 1rem;
    padding-right: 1rem;
}


/*Computadora con mas resolucion*/

@media screen and (min-device-width: 1444px) {}

@media screen and (min-device-width: 1024px) and (max-device-width: 1444px) {}


/*tablet*/

@media screen and (min-device-width: 480px) and (max-device-width: 1024px) {}


/* movil */

@media screen and (max-device-width: 480px) {}

.inner {
    padding: 10px;
}

.dark-mode .info-box {
    background-color: #343a40;
    color: #fff;
}

.info-box .info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.info-box .info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.8;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}